.login-container {
  width: 100%;
  max-width: 1120px;
  height: 100vh;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.login-container section.form {
  width: 100%;
  max-width: 350px;
  margin: auto
}

.login-container section.form form h1 {
  font-size: 32px;
  margin-bottom: 32px;
  margin-top: 32px;
}

.login-container section.form img {
  display: flex;
  margin: auto; 
}

i {
  position: absolute;
  top: 48% !important;
  left: 31%;
}

