.btnTrash {
  background: #E02041;
  border: 0;
  padding: 5px;
  margin-left: 5px;
}

.btnEdit {
  background: #0068D9;
  border: 0;
  padding: 5px;
  margin-left: 5px;
}

.btnView {
  background: #59B948;
  border: 0;
  padding: 5px;
  margin-left: 5px;
}